<!DOCTYPE html>
<html lang="en">
<head>
  <title>Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../static/images/paw-white.png" alt="Classification Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="../index.html">Home
              <span class="visually-hidden">(current)</span>
            </a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ML Models</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="forest.html">Random Forest</a>
              <a class="dropdown-item" href="knn.html">KNN</a>
              <a class="dropdown-item" href="svm.html">SVM</a>
              <a class="dropdown-item" href="neuralNetwork.html">Neural Network</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analysis</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <!-- Your Code Here -->
  <div class="container">

    <!-- Row 1 -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
          <div class="jumbotron">
              <h1><strong>Zoo Animal Classification Analysis</strong></h1>
              <br>
              <h3><strong>Summary</strong></h3>
              <h4>Our dataset consisted of 101 different zoo animals with 16 different boolean attributes. The team set out to 
                develop 4 different types of machine learning models to predict the animal type based on the given attributes.
                The 7 different animal types to be predicted were:</h4>
                
              <h4>
                <ol>
                  <li>Mammal</li>
                  <li>Bird</li>
                  <li>Reptile</li>
                  <li>Fish</li>
                  <li>Amphibian</li>
                  <li>Insect</li>
                  <li>Invertebrate</li>
                </ol>
              </h4>
              <br>
              <hr class="dotted">
              <br>

              <h4>The team had to get creative in order to use class examples and online resources and create ML Models that fit a
                multi-classification dataset, but we were able to build, train, and test ML models with relatively high accuracy scores
                , as shown below.
              </h4>

              <br>
              <br>
            
              <table class="table"> 
                <thead>
                  <tr class = "table-primary">
                    <th scope="col">ML Model</th>
                    <th scope="col">Accuracy Result</th>
                    <th scope="col">Observations</th>
                  </tr>
                </thead>
                <tbody>            
                  <tr class="table-default">
                    <th scope="row">Neural Network</th>
                    <td>96.15%</td>
                    <td>The neural network was most well-equipped to be trained and accurately predict the types of the animals in the testing data set.</td>>
                  </tr>
                  <tr class="table-active">
                    <th scope="row">Random Forest</th>
                    <td>96.15%</td>
                    <td>The random forest was accurate in predicting the types of the animals in the testing set. This model proved as a fast and efficient way to build a machine learning model for a multi-classifier.</td>>
                  </tr>
                  <tr class="table-default">
                    <th scope="row">KNN</th>
                    <td>95.2%</td>
                    <td>The K Nearest Neighbors model was able to accurately predict the types of the animals in the testing data set. This model would have been more accurate if we would have had a traditional classification problem.</td>>
                  </tr>
                  <tr class="table-active">
                    <th scope="row">SVM</th>
                    <td>86% (Polynomial Kernel)</td>
                    <td>The Support Vector Machine was the least accurate in predicting the types of the animals in the testing set. This model was modified and run using different configurations, but still predicted the animal type with the lowest accuracy of all the models built.</td>>
                  </tr>
                </tbody> 
              </table>
              <br>
              <br>

              <p> With such a large selection of classes we weren't sure how accurate our scores would be, but the dataset turned out working really well for Machine Learning</p>
              <p> A large attribution list likely helped contribute to our high scores and overall success</p>
              
              <br>
              <br>
          </div>
        </div>
      </div>
    </div>


</body>
</html>