<!DOCTYPE html>
<html lang="en">
<head>
  <title>Support Vector Machine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../static/images/paw-white.png" alt="Classification Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="../index.html">Home
              <span class="visually-hidden">(current)</span>
            </a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ML Models</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/templates/forest.html">Random Forest</a>
              <a class="dropdown-item" href="/templates/knn.html">KNN</a>
              <a class="dropdown-item" href="#">SVM</a>
              <a class="dropdown-item" href="/templates/neuralNetwork.html">Neural Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/analysis.html">Analysis</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>

  <div class="container">

    <!-- Row 1 -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
          <div class="jumbotron">
              <h1><strong>Support Vector Machine (SVM) Learning Algorithm</strong></h1>
              <br>
              <h3><strong>Introduction</strong></h3>
              <p>Our dataset consisted of 101 different zoo animals with 16 different boolean attributes.</p>
              <p>From these attributes, animals were then placed in 1 of 7 categories such as mammal, fish, or insect.</p>
              <p>To implement a Support Vector Machine for building a multi-class classifier our team used two kernel functions, Polynomial and Radial Basis Function (RBF), and assessed the accuracy of each.</p>
              <h3><strong>Implementation for a multi-classification model using a Radial Basis Function (RBF) Kernel</strong></h3><br>
              <center><img src="../resources/rbf_kernel_svm.jpg" alt="rbf_kernel_svm" width="600" height="400"></center>
              <ul>
              <li>67% of the time, the animal type was predicted correctly (Accuracy)</li>
              <li>67% of animal classifications were correctly predicted (Recall)</li>
              <li>Overall 54% harmonic average of precision and recall (F1 Score)</li>
              </ul>
              <br>
              <p>A confusion matrix was used to evaluate the performance of the SVM Model using the RBF Kernel and returned the matrix below:</p>
              <br>
              <center><img src="../resources/rbf_confusion_matrix.jpg" alt="rbf_confusion_matrix" width="400" height="267"></center>
              <br>
              <p>This matrix shows the holistic view of how well our classification model performed and what kinds of errors it made. Due to the size of our dataset, the confusion matrix did not find any animals classified as an amphibian in the test set and returned an errant matrix.</p>
              <h3><strong>Implementation for a multi-classification model using a Polynomial Kernel</strong></h3><br>
              <center><img src="../resources/poly_kernel_svm.jpg" alt="poly_kernel_svm" width="600" height="400"></center>
              <ul>
              <li>86% of the time, the animal type was predicted correctly (Accuracy)</li>
              <li>86% of animal classifications were correctly predicted (Recall)</li>
              <li>Overall 84% harmonic average of precision and recall (F1 Score)</li>
              </ul>
              <br>
              <p>A confusion matrix was used to evaluate the performance of the SVM Model using the Polynomial Kernel and returned the matrix below:</p>
              <br>
              <center><img src="../resources/poly_confusion_matrix.jpg" alt="poly_confusion_matrix" width="400" height="267"></center>
              <br>
              <p>This matrix shows the holistic view of how well our classification model performed and what kinds of errors it made. Due to the size of our dataset, the confusion matrix did not find any animals classified as an amphibian in the test set and returned an errant matrix.</p>
              
          </div>
        </div>
      </div>
    </div>


</body>
</html>

